nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li {
    margin: 1em;
}

nav ul li a {
    color: black;
    text-decoration: none;   
}

img {
    width: 75px;
    margin: 1em;
}